body
{
    background-size: cover;
    background-position: center;
}
.link{
    background: rgb(47, 255, 0);
    color: aliceblue;
    border-radius: 10px;
    width: 80px;
    margin-top: 20px;
    float: right;
}
.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0;
}
.heading:hover{
    font-size: large;
}